

@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 10vw;
  font-family: 'Cocogoose', sans-serif;
}

h2 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 5vw;
}

h3 {
  font-size: 5vw;
}

.text {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url(https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=725&q=80);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  left:uppercase;
  font-weight:bold;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo {
  padding-left: 25%;
  margin-top: 2%;
}

#hamburger {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 25px;
}
.mobile-menu {
  background-color: rgb(39, 42, 50);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 80%;
  opacity: 0.95;
}

.mobile-menu ul a {
  color: #fff;
  text-decoration: none;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  padding: 8px;
  font-size: 20px;
}

.desktop-navbar {
  display: none;
}

#cross {
  color: #fff;
  font-size: 20px;
  margin-left: 80%;
  margin-top: 5%;
  background: transparent;
  border: none;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.nav-top {
  display: none;
}
.welcome-text {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

#detail {
  font-size: 18px;
  text-align: justify;
}

.program {
  background-image: url(./images/program-bg.png);
  height: 110vh;
}

#services-title {
  color: #fff; 
  font-family: lato, sans-serif;
  text-align: center;
  padding-top: 15%;
}

#redline {
  height: 1px;
  width: 60px;
  background-color: rgb(236, 82, 66);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.service-cards {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card {
  background: #eeeeee26;
  font-size: 13px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  color: #fff;
  margin-right: 34px;
}

#program-title {
  color: rgb(235, 26, 71);
  text-align: center;
  font-size: 20px;
}

.card-images {
  width: 50px;
  height: 50px;
}

#view-prog-div {
  margin-left: 50%;
  margin-top: 10%;
  font-size: 18px;
}

#view-program {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {

  .mobile-navbar {
    display: none;
  }
  .homepage {
    height: 100%;
    background: rgba(0, 0, 0, 0.85) url(./images/jimin1.png);
    background-size: cover;
    background-blend-mode: darken;
  }

  .nav-top {
    display: block;
    background-color: rgb(62, 62, 62);
    height: 3.5%;
    width: 100%;
    margin-bottom: 0;
  }
  .desktop-nav-list a {
    color: rgb(192, 43, 43);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
  }

  .desktop-nav-list ul {
    margin-left: 30%;
    margin-top: 3.5%;
    padding: 0;
    margin-right: 0;
    overflow-wrap: inherit;
  }

  #nav-top-list a {
    color: #fff;
  }

  #nav-top-list ul {
    margin-top: 0;
    margin-left: 75%;
    padding-top: 0.3%;
  }

  .desktop-navbar {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: #fff;
  }

  .logo {
    margin-top: 0;
  }

  .desktop-nav-list {
    width: 100%;
  }

  .desktop-nav-list li {
    display: inline;
    list-style-type: none;
  }
  .welcome-text {
    color: white;
    margin-left: 1%;
  }
  .event-date {
    color: white;
    margin-left: 1%;
  }
  a {
    cursor: pointer;
  }
  
  a:hover {
    color: #ec5242;
  }
  
  a:active {
    color: #ec5242;
  }
  #detail {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.program {
  height: 60vh;
}

#services-title {
  padding-top: 2%;
  font-size: 30px;
}

.service-cards {
  padding-top: 2%;
  flex-direction: row;
  column-gap: 35px;
  margin-left: 14%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 180px;
  height: 180px;
  gap: 2px;
  padding-top: 10px;
  text-align: center;
}

}